nogit-*

#######################
# Frameworks and libs #
#######################

# Hugo
/public/

#########
# Tools #
#########

# GNU Screen
.screenrc

# Sublime Text
*.sublime*

# Vim
*.sw[op]
Session.vim
*~

######
# OS #
######

# MacOS
.DS_Store

