@charset "utf-8";

$family-primary: sans-serif;
$family-secondary: sans-serif;

$body-background-color: #fff;
$body-size: 20px;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";

/* Privacy alert */

@import "bulma/sass/elements/other.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/helpers/other.sass";

.privacy-alert {
  width: 100%;

  margin-bottom: 0em !important;

  position: fixed;
  left: 0%;
  bottom: 0%;
}

