@charset "utf-8";

$family-primary: sans-serif;
$family-secondary: sans-serif;

$body-background-color: #fff;
$body-size: 20px;

@import "../vendor/bulma/sass/utilities/_all.sass";
@import "../vendor/bulma/sass/base/_all.sass";
@import "../vendor/bulma/sass/layout/hero.sass";
@import "../vendor/bulma/sass/elements/container.sass";
@import "../vendor/bulma/sass/elements/title.sass";

