@charset "utf-8";

$family-primary: sans-serif;
$family-secondary: sans-serif;

$body-background-color: #fff;
$body-size: 20px;

@import "../vendor/bulma/sass/utilities/_all.sass";
@import "../vendor/bulma/sass/base/_all.sass";

.background {
  width: 100%;
  height: 100%;

  background-image: url("/uploads/bg.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(0.5);

  position: fixed;
  top: 0%;
  left: 0%;
}

@import "../vendor/bulma/sass/layout/hero.sass";
@import "../vendor/bulma/sass/elements/container.sass";
@import "../vendor/bulma/sass/elements/title.sass";

