@charset "utf-8";

[x-cloak] {
  display: none !important;
}

@import "variables.scss";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";

/* Privacy alert */

@import "bulma/sass/elements/other.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/helpers/other.sass";

.privacy-alert {
  width: 100%;

  position: fixed;
  left: 0%;
  bottom: 5%;
}

.privacy-alert .message {
  width: 90vw;
  max-width: 30em;

  margin: 0 auto;
}

