@charset "utf-8";

[x-cloak] {
  display: none !important;
}

@import "variables.scss";

$body-background-color: #a3bf76;
$body-size: 16px;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/helpers/typography.sass";

$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.2), 0 0px 0 1px rgba($scheme-invert, 0.02);

@import "bulma/sass/elements/box.sass";
@import "bulma/sass/helpers/other.sass";

.main-container {
  max-width: 40em;

  margin: 0 auto;
  margin-top: 10em;
}

/* Header */

.page-header {
  min-height: 290px;

  content-visibility: auto;
  contain-intrinsict-size: 0 290px;

  margin-top: -12em;
  margin-bottom: 1em;
}

.page-header img {
  width: 15em;
  max-width: 70vw;
}

/* Main */

@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/helpers/flexbox.sass";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/input-textarea.sass";
@import "bulma/sass/form/select.sass";
@import "bulma/sass/form/tools.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/components/dropdown.sass";

.noscript-notification {
  margin-bottom: 1em;
}

.is-grouped .button:not(:first-child) {
  margin-left: 1em;
}

.select.is-expanded,
.select.is-expanded select {
  width: 100%;
}

.dropdown.is-danger .dropdown-trigger .button {
  border-color: $danger;
}

.dropdown.is-expanded,
.dropdown.is-expanded .dropdown-trigger,
.dropdown.is-expanded .dropdown-trigger .button,
.dropdown.is-expanded .dropdown-menu,
.dropdown.is-expanded .dropdown-menu .dropdown-item label {
  width: 100%;
}

.dropdown.is-expanded .dropdown-trigger .button {
  overflow: hidden;
  justify-content: space-between;
}

.dropdown.is-expanded .dropdown-menu .dropdown-item label {
  display: block;
}

.form-notification {
  margin-top: 1em;
}

/* Footer */

.page-footer {
  font-size: 0.6em;
  opacity: 0.7;

  margin-top: 2em;
}

/* Privacy alert */

/*@import "bulma/sass/elements/other.sass";*/
@import "bulma/sass/components/message.sass";

.privacy-alert {
  width: 100%;

  position: fixed;
  left: 0%;
  bottom: 5%;
}

.privacy-alert .message {
  width: 90vw;
  max-width: 30em;

  margin: 0 auto;
}

