{{ define "styles-default" }}
  {{ .Scratch.Set "cssSrc" (resources.Get "sass/test-doshas.scss") }}
  {{ .Scratch.Set "cssOutput" "css/test-doshas.css" }}
  {{ $sheet := partial "build-css.tmpl" . }}
  <link rel="stylesheet" type="text/css" href="{{ $sheet.Permalink }}"/>
{{ end }}

{{ define "test-doshas-button" }}
  <button type="button" class="button {{ .classes }}"
          :class="{ 'is-loading': !isReady() }"
          :disabled="!isReady()"
          @click="{{ .action }}">
    {{ .label }}
  </button>
{{ end }}

{{ define "body" }}
  <section class="section main-section">
    <div class="box is-radiusless main-container">
      <header class="page-header has-text-centered">
        <img src="{{ .Params.image }}" alt="{{ .Title }}"/>

        <h1 class="title">{{ .Title }}</h1>
      </header>

      <main class="page-body">
        <noscript>
          <div class="notification noscript-notification is-warning">
            <p class="notification-body">
              {{ i18n "JAVASCRIPT_IS_DISABLED" }}.
            </p>
          </div>
        </noscript>

        {{ $sections := .Params.sections }}

        <div class="test-body" x-data="doshasState()" x-init="init()">
          <div class="tabs is-centered is-boxed" x-ref="tabs"
               role="tablist" aria-label="Pestañas">
            <ul>
              {{ range $sections }}
                <li :class="{ 'is-active': tab === '{{ .name }}' }">
                  <a id="tab-{{ .name }}" href="#"
                     role="tab" aria-controls="tabpanel-{{ .name }}"
                     :aria-selected="tab === '{{ .name }}' ? 'true' : 'false'"
                     :tabindex="tab === '{{ .name }}' ? 0 : -1"
                     @click.prevent="changeTab('{{ .name }}')">{{ .label }}</a>
                </li>
              {{ end }}
            </ul>
          </div>

          <div id="tabpanel-intro" tabindex="0"
               role="tabpanel" aria-labelledby="tab-intro"
               :hidden="tab !== 'intro'" x-cloak>
            {{ $introSec := index (where $sections "name" "intro") 0 }}

            <div class="content">
              {{ .Content }}
            </div>

            <div class="field is-grouped is-grouped-centered">
              {{ range $introSec.buttons }}
                {{ template "test-doshas-button" . }}
              {{ end }}
            </div>
          </div>

          <div id="tabpanel-body" tabindex="0"
               role="tabpanel" aria-labelledby="tab-body"
               :hidden="tab !== 'body'" x-cloak>
            {{ $bodySec := index (where $sections "name" "body") 0 }}

            {{ range $i, $field := $bodySec.fields }}
              {{ $store := printf "$store.testDoshas.values.body['%s']" .label }}

              <div class="field" x-data="{open: false, value: {{ $store }}}">
                <label class="label" x-show.transition="value">
                  {{ .label }}:
                </label>

                <div class="control is-expanded">
                  <div class="dropdown is-expanded"
                       :class="{'is-active': open, 'is-danger': !value}"
                       @click.away="open = false">
                    <div class="dropdown-trigger">
                      {{ $ref := printf "$refs['dropdownItem'+%s]" $store }}

                      <button type="button"
                              class="button has-text-left-aligned"
                              aria-haspopup="true"
                              aria-controls="dropdown-body-{{ $i }}"
                              x-text="{{ $ref }} ? {{ $ref }}.innerText : '{{ .label }}'"
                              @click="open = !open">
                      </button>
                    </div>

                    <div class="dropdown-menu" role="menu"
                         id="dropdown-body-{{ $i }}">
                      <div class="dropdown-content">
                        {{ range $j, $_ := .options }}
                          {{ if gt $j 0 }}
                            <hr class="dropdown-divider"/>
                          {{ end }}

                          <div class="dropdown-item"
                               x-ref="dropdownItem{{ .value }}"
                               @click="
                                 value = '{{ .value }}'
                                 $store.testDoshas.values.body['{{ $field.label }}'] = '{{ .value }}'
                                 open = false
                               ">{{ .text }}</div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              <div class="field">
                <label class="label"
                       x-show.transition="body[{{ $i }}]">
                  {{ .label }}:
                </label>

                <div class="control is-expanded">
                  <div class="select is-expanded"
                       :class="{'is-danger': !body[{{ $i }}]}">
                    <select name="body[]" required
                            x-model="body[{{ $i }}]">
                      <option value="">{{ .label }}</option>

                      {{ range .options }}
                        <option value="{{ .value }}">{{ .text }}</option>
                      {{ end }}
                    </select>
                  </div>
                </div>
              </div>
              -->
            {{ end }}

            <div class="field is-grouped is-grouped-centered">
              {{ range $bodySec.buttons }}
                {{ template "test-doshas-button" . }}
              {{ end }}
            </div>
          </div>

          <div id="tabpanel-mind" tabindex="0"
               role="tabpanel" aria-labelledby="tab-mind"
               :hidden="tab !== 'mind'" x-cloak>
            {{ $mindSec := index (where $sections "name" "mind") 0 }}

            {{ range $i, $field := $mindSec.fields }}
              {{ $store := printf "$store.testDoshas.values.mind['%s']" .label }}

              <div class="field" x-data="{open: false, value: {{ $store }}}">
                <label class="label" x-show.transition="value">
                  {{ .label }}:
                </label>

                <div class="control is-expanded">
                  <div class="dropdown is-expanded"
                       :class="{'is-active': open, 'is-danger': !value}"
                       @click.away="open = false">
                    <div class="dropdown-trigger">
                      {{ $ref := printf "$refs['dropdownItem'+%s]" $store }}

                      <button type="button"
                              class="button has-text-left-aligned"
                              aria-haspopup="true"
                              aria-controls="dropdown-mind-{{ $i }}"
                              x-text="{{ $ref }} ? {{ $ref }}.innerText : '{{ .label }}'"
                              @click="open = !open">
                      </button>
                    </div>

                    <div class="dropdown-menu" role="menu"
                         id="dropdown-mind-{{ $i }}">
                      <div class="dropdown-content">
                        {{ range $j, $_ := .options }}
                          {{ if gt $j 0 }}
                            <hr class="dropdown-divider"/>
                          {{ end }}

                          <div class="dropdown-item"
                               x-ref="dropdownItem{{ .value }}"
                               @click="
                                 value = '{{ .value }}'
                                 $store.testDoshas.values.mind['{{ $field.label }}'] = '{{ .value }}'
                                 open = false
                               ">{{ .text }}</div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}

            <div class="field is-grouped is-grouped-centered">
              {{ range $mindSec.buttons }}
                {{ template "test-doshas-button" . }}
              {{ end }}
            </div>
          </div>

          <div id="tabpanel-results" tabindex="0"
               role="tabpanel" aria-labelledby="tab-results"
               :hidden="tab !== 'results'" x-cloak>
            {{ $resultsSec := index (where $sections "name" "results") 0 }}

            <div class="content">
              <p>
                Los resultados del test de <strong>Constitución
                Ayurvédica</strong> indican un Prakriti:
              </p>

              <div class="test-result">
                <div class="test-result-images"></div>

                <p><strong>Constitución física:</strong></p>

                <ul>
                  <li>
                    <strong>Vata:</strong>
                    <span x-text="results.body.vata.toFixed(2)"></span>%
                  </li>

                  <li>
                    <strong>Pitta:</strong>
                    <span x-text="results.body.pitta.toFixed(2)"></span>%
                  </li>

                  <li>
                    <strong>Kapha:</strong>
                    <span x-text="results.body.kapha.toFixed(2)"></span>%
                  </li>
                </ul>

                <p><strong>Constitución mental:</strong></p>

                <ul>
                  <li>
                    <strong>Sattva:</strong>
                    <span x-text="results.mind.sattva.toFixed(2)"></span>%
                  </li>

                  <li>
                    <strong>Rajas:</strong>
                    <span x-text="results.mind.rajas.toFixed(2)"></span>%
                  </li>

                  <li>
                    <strong>Tamas:</strong>
                    <span x-text="results.mind.tamas.toFixed(2)"></span>%
                  </li>
                </ul>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              {{ range $resultsSec.buttons }}
                {{ template "test-doshas-button" . }}
              {{ end }}
            </div>
          </div>

          <div id="tabpanel-data" tabindex="0"
               role="tabpanel" aria-labelledby="tab-data"
               :hidden="tab !== 'data'" x-cloak>
            {{ $dataSec := index (where $sections "name" "data") 0 }}

            <form name="testDoshas" @submit.prevent="submit()">
              <div class="field is-horizontal is-align-items-center">
                <div class="field-label">
                  <label class="label">Nombre:</label>
                </div>

                <div class="field-body">
                  <div class="field">
                    <div class="control is-expanded">
                      <input class="input" type="text" name="name"
                             placeholder="Nombres" required
                             x-model="fields.name"/>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control is-expanded">
                      <input class="input" type="text" name="lastname"
                             placeholder="Apellidos" required
                             x-model="fields.lastname"/>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal is-align-items-center">
                <div class="field-label">
                  <label class="label">Correo electrónico:</label>
                </div>

                <div class="field-body">
                  <div class="field">
                    <div class="control is-expanded">
                      <input class="input" type="email" name="email"
                             placeholder="Correo electrónico" required
                             x-model="fields.email"/>
                    </div>
                  </div>
                </div>
              </div>

              <!--
              <div class="field is-horizontal is-align-items-center">
                <div class="field-label">
                  <label class="label">Teléfono:</label>
                </div>

                <div class="field-body">
                  <div class="field has-addons">
                    <div class="control">
                      <div class="select">
                        <select name="countryCode" required
                             x-model="fields.countryCode">
                          <option value="+1">+1</option>
                          <option value="+58">+58</option>
                        </select>
                      </div>
                    </div>

                    <div class="control is-expanded">
                      <input class="input" type="tel" name="phone"
                             placeholder="Teléfono"
                             x-model="fields.phone"/>
                    </div>
                  </div>
                </div>
              </div>
              -->

              <div class="field is-grouped is-grouped-centered">
                {{ range $dataSec.buttons }}
                {{ template "test-doshas-button" . }}
                {{ end }}
              </div>
            </form>
          </div>

          <div class="form-notification">
            {{ $data := newScratch }}
            {{ $data.Set "prefix" "notification" }}
            {{ partial "components/notification.tmpl" (dict "Data" $data "Page" .) }}
          </div>
        </div>
      </main>

      <footer class="page-footer has-text-centered">
        <div>
          Powered by
          <a href="https://gohugo.io">Hugo</a>,
          <a href="https://bulma.io">Bulma</a>,
          <a href="https://netlify.com/">Netlify</a>
        </div>

        <div class="copyright">
          Copyright &copy; {{ site.Params.copyright }}
        </div>

        <div class="devs">
          <a target="_blank" rel="noopener noreferrer"
             href="https://ntrrg.dev">@ntrrg</a>
        </div>
      </footer>
    </div>
  </section>
{{ end }}

{{ define "scripts" }}
  {{ .Scratch.Set "jsSrc" (resources.Get "js/test-doshas.js") }}
  {{ $script := partial "build-js.tmpl" . }}
  <script defer src="{{ $script.Permalink }}"></script>
{{ end }}

