body {
  background: #fff;
  color: #24292e;
  font-family: "sans-serif";
  font-size: 20px;
}

@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1900px) {
  body {
    font-size: 24px;
  }
}

