<link rel="shortcut icon" href="{{ relURL "favicon.ico" }}"/>
<meta name="theme-color" content="#fff"/>

  <!-- Chrome on Android (192x192) -->
<meta name="mobile-web-app-capable" content="yes"/>

<link rel="icon" sizes="192x192"
      href="{{ relURL "favicon-192x192.png" }}"/>

  <!-- Windows (144x144) -->
<meta name="msapplication-TileImage"
      content="{{ relURL "favicon-144x144.png" }}"/>

<meta name="msapplication-TileColor" content="#fff"/>

  <!-- Safari on iOS (120x120) -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.name }}"/>

<meta name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"/>

<link rel="apple-touch-icon" href="{{ relURL "favicon-192x192.png" }}"/>

<link rel="apple-touch-icon" sizes="76x76"
      href="{{ relURL "favicon-76x76.png" }}"/>

<link rel="apple-touch-icon" sizes="120x120"
      href="{{ relURL "favicon-120x120.png" }}"/>

<link rel="apple-touch-icon" sizes="152x152"
      href="{{ relURL "favicon-152x152.png" }}"/>

<link rel="apple-touch-icon-precomposed"
      href="{{ relURL "favicon-120x120.png" }}"/>

<link rel="apple-touch-startup-image"
      href="{{ relURL "favicon-192x192.png" }}"/>

