{{ $src := .Scratch.Get "jsSrc" }}
{{ $output := .Scratch.Get "jsOutput" | default $src.Name }}
{{ $opts := .Scratch.Get "jsOptions" | default dict }}

{{ $jsOpts := dict "targetPath" $output }}
{{ $jsOpts = merge $jsOpts (dict "target" "es2017") }}
{{ $jsOpts = merge $jsOpts (dict "format" "iife") }}
{{ $jsOpts = merge $jsOpts (dict "externals" (slice)) }}
{{ $jsOpts = merge $jsOpts (dict "defines" (dict)) }}

{{ if ne hugo.Environment "development" }}
  {{ $jsOpts = merge $jsOpts (dict "minify" true) }}

  {{ $shims := dict }}
  {{ range site.Params.shims }}
    {{ $shims = merge $shims (dict .name .shim) }}
  {{ end }}

  {{ $jsOpts = merge $jsOpts (dict "shims" $shims) }}
{{ end }}

{{ $jsOpts = merge $jsOpts $opts }}

{{ .Scratch.Delete "jsSrc" }}
{{ .Scratch.Delete "jsOutput" }}
{{ .Scratch.Delete "jsOptions" }}

{{ return js.Build $jsOpts $src }}

