{{ $src := .Scratch.Get "cssSrc" }}
{{ $output := .Scratch.Get "cssOutput" | default $src }}
{{ $opts := .Scratch.Get "cssOptions" | default dict }}

{{ $cssOpts := dict "targetPath" $output }}
{{ $cssOpts = merge $cssOpts (dict "includePaths" (slice "node_modules")) }}

{{ if ne hugo.Environment "development" }}
  {{ $cssOpts = merge $cssOpts (dict "outputStyle" "compressed") }}
  {{ $cssOpts = merge $cssOpts (dict "enableSourceMap" true) }}
{{ end }}

{{ $cssOpts = merge $cssOpts $opts }}

{{ .Scratch.Delete "cssSrc" }}
{{ .Scratch.Delete "cssOutput" }}
{{ .Scratch.Delete "cssOptions" }}

{{ return (resources.Get $src | resources.ToCSS $cssOpts) }}

