{{ $page := .Site.GetPage "/privacy" }}

<article class="privacy-alert message is-radiusless is-small">
  <div class="message-header is-radiusless">
    <p>{{ $page.Title }}</p>
    <button class="delete" aria-label="delete"></button>
  </div>

  <div class="message-body">
    {{ $page.Content }}
  </div>
</article>

